<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">NO NEED</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' %}">Categorys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product' %}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'register' %}">Register</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link " href="{% url 'login' %}">Login</a>
        </li>
      </ul>
      
    </div>
    
    {% if request.path == '/' %}
     
      <form class="d-flex" role="search" action="{% url 'home' %}" method="get">
        <input value="{{ request.GET.Psearch }}" class="form-control me-2" type="text" name="Psearch" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    {% endif %}
  </div>
</nav>